@import url(../node_modules/modern-normalize/modern-normalize.css);

.font-mono {
	font-family: 'VT323', 'Courier New', Courier, monospace;
}

.font-serif {
	font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
}

.font-sans {
	font-family: 'Poppins', 'Comic Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
